html,
body,
#root,
#root > .section,
#root > .section > .container,
#root > .section > .container > .columns {
  min-height: 100vh;
  height: 100%;
}

.circle-wrapper {
  display: flex;
  justify-content: center;
}

.circle {
  border: 8px solid #00d1b2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.circle-fill {
  background-color: #00d1b2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.circle h1 {
  font-size: 120px;
  font-weight: bolder;
}

.circle-fill h1 {
  color: #ffffff;
  font-size: 130px;
}

.list-group > .list-group-item {
  background-color: #f6f5f5;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  content: '' !important;
}

/* the parent */
.slick-slide > div {
  margin: 0 50px !important;
}

.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.7;
}

.border-light {
  border: 1px solid hsl(0, 0%, 86%) !important;
}
